[submodule "vendor/fzf-git"]
	path = vendor/fzf-git
	url = git@github.com:junegunn/fzf-git.sh.git
[submodule "vendor/bash-commons"]
	path = vendor/bash-commons
	url = git@github.com:gruntwork-io/bash-commons.git
[submodule "vendor/oh-my-zsh"]
	path = vendor/oh-my-zsh
	url = git@github.com:apsamuel/ohmyzsh.git
[submodule "vendor/oh-my-tmux"]
	path = vendor/oh-my-tmux
	url = git@github.com:apsamuel/.tmux.git
[submodule "vendor/figlet-fonts"]
	path = vendor/figlet-fonts
	url = git@github.com:xero/figlet-fonts.git
